@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
#interface{
    display: flex;
    flex-direction: column;
}
#container{
    display: flex;
    height: calc(100vh - 30px);
}
#titlebar{
            width: 100vw;
            height: 30px;
            background: rgb(0, 102, 255);
            display: flex;
            align-items: center;
            padding-left: 20px;
            -webkit-app-region: drag;
            justify-content: space-between;
        }
        #titlebar-controls{
            display: flex;
        }
        #titlebar-controls button:first-child:hover{
            background: rgba(255,255,255,0.1);
        }
        #titlebar-controls button:last-child:hover{
            background: rgb(236, 82, 82);
        }
        #titlebar-controls > button{
            -webkit-app-region: no-drag;
            background: none;
            border: none;
            height: 30px;
            width: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #titlebar > span{
            color: #fff;
            font-size: 15px;
        }
#header{
    background: rgb(0, 19, 49);
    width: 310px;
    height: calc(100vh - 30px);
    color: white;
}
#header_logo{
    padding: 30px 32px;
}
#header_logo img{
    width: 150px;
}
#menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu_item{
    display: flex;
    flex-direction: column;
}
.menu_item_title{
    display: flex;
    padding: 20px 24px;
    width: 100%;
    background: none;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: rgb(230, 230, 230);
}
.menu_item_title.active{
    background: rgba(255,255,255,0.07);
}
.menu_item span{
    color: #fff;
    text-decoration: none;    
}
i.icone_expandir_menu{
    position: absolute;
    right: 24px;
}
.submenu{
    display: flex;
    flex-direction: column;
    display: none;
}
.submenu.active{
    display: flex !important;
    flex-direction: column;
}
.submenu a{
    color: #fff;
    padding: 18px 42px;
    cursor: pointer;
    font-size: 14.5px;
}




#body{
    padding: 32px;
    width: calc(100vw - 310px);
}
table{
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}
thead{
    background: blue;
    color: #fff;
    text-align: left;
}
th{
    padding: 7px;
    border: 1px solid #000;
}
td{
    padding: 6px 12px;
    border: 1px solid #000;
}