@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
#interface{
    display: flex;
    flex-direction: row;
}
#header{
    background: rgb(0, 32, 80);
    width: 310px;
    height: 100vh;
    color: white;
}
#header_logo{
    padding: 30px 32px;
}
#header_logo img{
    width: 150px;
}
#menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu_item{
    display: flex;
    flex-direction: column;
}
.menu_item_title{
    display: flex;
    padding: 20px 24px;
    width: 100%;
    background: none;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: rgb(230, 230, 230);
}
.menu_item_title.active{
    background: rgba(255,255,255,0.07);
}
.menu_item span{
    color: #fff;
    text-decoration: none;    
}
i.icone_expandir_menu{
    position: absolute;
    right: 24px;
}
.submenu{
    display: flex;
    flex-direction: column;
    display: none;
}
.submenu.active{
    display: flex !important;
    flex-direction: column;
}
.submenu a{
    color: #fff;
    padding: 18px 42px;
    cursor: pointer;
    font-size: 14.5px;
}




#body{
    padding: 32px;
    width: calc(100vw - 310px);
}
table{
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}
thead{
    background: blue;
    color: #fff;
    text-align: left;
}
th{
    padding: 7px;
    border: 1px solid #000;
}
td{
    padding: 6px 12px;
    border: 1px solid #000;
}