@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            font-family: 'Inter', sans-serif;
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        #titlebar{
            width: 100vw;
            height: 30px;
            background: rgb(0, 102, 255);
            display: flex;
            align-items: center;
            padding-left: 20px;
            -webkit-app-region: drag;
            justify-content: space-between;
        }
        #titlebar-controls{
            display: flex;
        }
        #titlebar-controls button:first-child:hover{
            background: rgba(255,255,255,0.1);
        }
        #titlebar-controls button:last-child:hover{
            background: rgb(236, 82, 82);
        }
        #titlebar-controls > button{
            -webkit-app-region: no-drag;
            background: none;
            border: none;
            height: 30px;
            width: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #titlebar > span{
            color: #fff;
            font-size: 15px;
        }
        #login{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 2rem;
            height: calc(100vh - 30px);
        }
        #logo{
            margin-bottom: 6px;
        }
        h1{
            font-size: 22px;
            font-weight: 650;
            color: #000;
        }
        h2{
            font-size: 16px;
            color: #858585;
            font-weight: 500;
            margin: 6px 0 24px 0;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 14px;
            width: 100%;
        }
        .input_field{
            display: flex;
            align-items: center;
            position: relative;
            justify-content: center;
        }
        .input_field > img{
            position: absolute;
            left: 15px;
        }
        input[type=email], input[type=password]{
            width: 100%;
            padding: 13px 0px 13px 40px;
            border: none;
            background: rgb(228, 228, 228);
            border-radius: 500px;
            font-size: 14px;
        }
        #btn-login{
            border: none;
            background: linear-gradient(to bottom right, #4278eb, #3059b1);
            color: #fff;
            padding: 10px 60px;
            border-radius: 500px;
            font-size: 16px;
            cursor: pointer;
            width: fit-content;
            place-self: center;
            font-weight: 550;
        }